<html>

<head>
<center><h1>BVSR ENGINEERING COLLEGE</h1></center>
  {% load static %}
  <link rel='stylesheet' type='text/css' href="{% static 'ece/main.css' %}"/>

</head>
<body>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="/registration">Student Register</a></li>
    <li><a href="/freg">Faculty Register</a></li>
    <li><a href="#update">Update</a></li>
    <li><a href="/del">Delete</a></li>
    <li><a href="/all">Students List</a></li>
    <li><a href="/fac">Faculty List</a></li>
    <li><a href="/find">Search</a></li>
    <li><a href="/marks">Marks</a></li>
    <li><a href="/cont">Contact</a></li>
    <li style="float:right"><a class="active" href="#about">About</a></li>

  </ul>

</body>
</html>
