<html>
{% include "ece/base.html" %}
<center><h1>{{title }}</h1>


<form method="post" >{%csrf_token %}
<!--    {{form.as_p}}-->

        <label for="fname" placeholder="Enter your name">Faculty name:</label><br>
        <input type="text" id="fname" name="sname"><br>
        <label for="fdep">Faculty Dep:</label><br>
        <input type="text" id="fdep" name="fdep"><br>
        <label for="fsal">Faculty Sal:</label><br>
        <input type="text" id="fsal" name="fsal"><br><br>

        <button class="button button1">Register</button>
</form>
</center>

</html>

<!--<html>-->

<!--<head>-->
<!--<style> -->
<!--input[type=text] {-->
<!--  width: 100%;-->
<!--  padding: 12px 20px;-->
<!--  margin: 8px 0;-->
<!--  box-sizing: border-box;-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->

<!--<p>Padded text fields:</p>-->

<!--<form>-->
<!--  <label for="fname">First Name</label>-->
<!--  <input type="text" id="fname" name="fname">-->
<!--  <label for="lname">Last Name</label>-->
<!--  <input type="text" id="lname" name="lname">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->