<html>
{%include 'ece/base.html'%}
{% load static  %}
<head>
    <title>BVSR ENGINEERING COLLEGE</title>
    <link rel="stylesheet" href="{% static 'ece/main.css' %}">
<body>
<br>
<center><img src="{% static 'images/banner2.jpg'%}" alt="HTML5 Icon" width="1000" height="500" ></center>


<br>
<h2><p style="color:DodgerBlue;text-align:left;">Buchepalli Venkayamma Subbareddy Engineering College was established in the year of 2008 by Visionary leaders Sri. Buchepalli Subba reddy and Smt. Buchepalli Venkayamma, under Sri Surya Social Service Society, with a noble aim of providing high quality technical education to rural area back ground students.

BVSR Engineering College has earned a distinction of its own in imparting top-quality engineering education in the Prakasam District region. Since inception the college has been churning out competitive engineering graduates with a global outlook.

BVSR Engineering College has its impressive built-up area of 1,70,000 Sq.feet, housed in 12 acres of site, with lush green surroundings; and is located at 19 km away from the Prakasam District Headquarters Ongole, in the medium sized town: Chimakurthy - the icon for Galaxy granite on the Ongole to Kurnool State Highway.

</p></h2>

<br>
<br>
<br>
<br>
</body>
</html>