<!DOCTYPE html>
<html lang="en">
<head>
    <h1><center>{{title}}</center></h1>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
body{
        background:
        url(https://images.all-free-download.com/images/graphicthumb/rippled_wall_background_01_hd_pictures_169887.jpg)
       }
</style>
</head>
<body>

<center><form method="post">{% csrf_token %}
    {{form.as_p}}

<!--    <div>-->
<!--        <label for="name">Student Name:</label>-->
<!--        <input type="text"><br><br>-->
<!--        <label for="name">Student email:</label>-->
<!--        <input type="text"><br><br>-->
<!--        <label for="name">Student Mobile:</label>-->
<!--        <input type="text"><br><br>-->
<!--        <label for="name">Student Address:</label>-->
<!--        <input type="text"><br><br>-->

     <button> Submit</button>


    </div>
</form>
</center>

</body>
</html>